#profileView {
   position: fixed;
   z-index: 13;
   inset: 0;
   width: 100vw;
   height: 100vh;
   display: none;
   place-items: center;
   background: rgba(0, 0, 0, 0.9);
   backdrop-filter: blur(3px);
}
#profileView.active {
   display: grid;
}

.card {
   min-width: 16rem;
   max-width: 16rem;
   height: auto;
   border-radius: 20px;
   padding: 5px;
   box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
   background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

.card-content {
   background: #05062d;
   border-radius: 17px;
   width: 100%;
   height: 100%;
   padding: 2rem;
   display: grid;
   grid-auto-flow: row;
   place-items: center;
   gap: 0.7rem;
}

.card-content .head {
   position: relative;
   width: 100%;
   height: 2rem;
}
.card-content .head .biger {
   position: relative;
   width: calc(100% + 2rem);
   right: 1rem;
   height: 100%;
   display: grid;
   border-bottom: solid #ff6600 1px;
   grid-template-columns: 2rem auto;
}
.card-content .biger .index {
   position: relative;
   display: grid;
   place-items: center;
   color: #0507b4;
   font-size: 1.5rem;
   font-weight: 900;
   font-family: Righteous;
   box-shadow: inset 0 0 20px #000000;
   border-radius: 10px;
   transform: translate(-0.5rem, -1.5rem);
}
.card-content .biger .sec-nanme {
   position: relative;
   display: grid;
   place-items: center;
   color: #ff6600;
   font-size: 1.1rem;
   transform: translateX(-1rem);
   font-weight: 900;
}
.card-content .detail {
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   gap: 0.7rem;
}
.card-content .detail i {
   position: relative;
   width: 1.6rem;
   height: 1.6rem;
   display: grid;
   place-items: center;
   color: #fff;
   border-radius: 5px;
   background-image: linear-gradient(
      to top right,
      #af40ff 0%,
      #5b42f3 51%,
      #00ddeb 100%
   );
}
.card-content .detail p {
   position: relative;
   width: 80%;
   color: #ffffff;
   font-family: Google;
   font-weight: 500;
}
.card-content #footer {
   position: relative;
   width: 8rem;
   height: 2rem;
   padding: calc(var(--gap) / 2);
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   background: transparent;
   border-radius: 4px;
   box-shadow: 0 0 1px #000;
   place-items: center;
   z-index: 3;
}
#footer .feature {
   --color: #04bc8c;
   position: relative;
   width: 3rem;
   height: 1.8rem;
   border-radius: 5px;
   background: #fff2;
   display: grid;
   place-items: center;
   outline: solid 1px #000;
   transition: linear 200ms background, linear 200ms outline;
}
#footer .feature:nth-child(2) {
   --color: #00ff00;
}
#footer .feature i {
   color: var(--color);
   pointer-events: none;
   font-size: 1rem;
   text-shadow: 0 0 1px #000000;
   transition: linear 200ms color;
}
#footer .feature.hover {
   background: var(--color);
   outline: solid 1px #000;
}
#footer .feature.hover i {
   color: #fff;
}
