* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
   font-family: Google;
   -ms-overflow-style: none;
   scrollbar-width: none;

   /* outline: solid 1px #f00; */
}
/* body * {
   touch-action: none;
   -ms-touch-action: none;
   -webkit-touch-callout: none;
} */
*::-webkit-scrollbar {
   display: none;
}
:root {
   --margin: 1rem;
   --gap: 0.3rem;
   --cs: 2rem;
   --mm-w: 250px;
}
body {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: start;
   overflow-x: hidden;
   background: #151520;
   background-image: url("../src/img/bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-position-y: 0;
   background-size: cover;
   background-attachment: fixed;
   overflow-x: hidden;
   overflow-y: scroll;
   touch-action: auto;
   -ms-touch-action: auto;
   -webkit-touch-callout: auto;
}
body {
   overflow-y: scroll;
}
body.removeScroll {
   overflow-y: hidden;
}
#responsive {
   position: relative;
   width: min(100vw, 440px);
   height: auto;
}
header {
   position: relative;
   width: 100%;
   height: 3rem;
   background-image: radial-gradient(
      circle farthest-corner at 22.4% 21.7%,
      rgba(4, 189, 228, 1) 0%,
      rgba(2, 83, 185, 1) 100.2%
   );
   display: grid;
   place-items: center;
   grid-template-columns: 4fr 1fr 1fr;
   border-left: solid 4px #0003;
   border-right: solid 4px #0003;
}
header #title {
   font-size: 1.4rem;
   font-family: Righteous;
   color: #ff6600;
   font-weight: 900;
   text-shadow: 0 0 2px #000;
}
header .header-btn {
   scale: 1.3;
}

.scroll-box {
   position: relative;
   width: calc(100% - 1rem);
   margin: 0.5rem;
   height: auto;
   touch-action: auto;
   overflow-y: scroll;
}

.s-btn {
   position: relative;
   width: calc(var(--cs) - 0.2rem);
   height: calc(var(--cs) - 0.2rem);
   display: grid;
   place-items: center;
   border-radius: 8px;
   font-size: 1rem;
   color: #fff;
   background: #0003;
   box-shadow: 1px 1px 3px #0007;
   transition: linear 300ms background, linear 300ms color,
      linear 300ms text-shadow;
}
.s-btn > i {
   text-shadow: 0 0 1px #0007;
}
