* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
   font-family: Google;
   -ms-overflow-style: none;
   scrollbar-width: none;

   /* outline: solid 1px #f00; */
}
body * {
   touch-action: none;
   -ms-touch-action: none;
   -webkit-touch-callout: none;
}
*::-webkit-scrollbar {
   display: none;
}
:root {
   --margin: 1rem;
   --gap: 0.3rem;
   --cs: 2rem;
   --mm-w: 250px;
}
body {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: start;
   overflow-x: hidden;
   background: #151520;
   background-image: url("../src/img/bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-position-y: 0;
   background-size: cover;
   background-attachment: fixed;
   overflow: hidden;
   overflow-y: scroll;
}
#responsive {
   position: relative;
   width: min(100vw, 440px);
   height: auto;
}
header {
   position: relative;
   width: calc(100% - 8px);
   height: 3rem;
   background-image: radial-gradient(
      circle farthest-corner at 22.4% 21.7%,
      rgba(4, 189, 228, 1) 0%,
      rgba(2, 83, 185, 1) 100.2%
   );
   display: grid;
   place-items: center;
   grid-template-columns: 4fr 1fr 1fr;
   border-left: solid 4px #0003;
   border-right: solid 4px #0003;
}
header #title {
   font-size: 1.4rem;
   font-family: Righteous;
   color: #fff;
   text-shadow: 0 0 2px #000;
}
header .header-btn {
   scale: 1.3;
}
#mainMenu {
   position: fixed;
   width: 100vw;
   height: 100vh;
   background: #0007;
   backdrop-filter: blur(3px);
   inset: 0;
   z-index: 5;
   opacity: 0;
   pointer-events: none;
   transition: linear 300ms opacity;
}
#mainMenu.active {
   opacity: 1;
   pointer-events: all;
}
#mainMenu #menuInner {
   position: absolute;
   right: calc(var(--mm-w) * -1);
   top: 0;
   width: var(--mm-w);
   height: 100%;
   background: #ffffff;
   display: flex;
   flex-direction: column;
   transition: linear 300ms right;
}
#mainMenu.active #menuInner {
   right: 0;
}
#mainMenu #welcome {
   position: relative;
   width: calc(100% - 0.2rem);
   height: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 0.5rem;
   background: #dddddd;
   border-style: solid;
   border-width: 0.2rem;
   border-color: #0002 #fff5 #fff5 #0002;
}
#welcome p {
   font-family: Righteous;
   font-weight: 900;
   font-size: 2rem;
   color: #ff6600;
   text-shadow: 0 0 1px #000;
}
#welcome span {
   color: #0077ff;
   font-family: Righteous;
   font-size: 1rem;
}
#mainMenu #menuOptions {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: var(--gap);
}
#menuOptions .option {
   position: relative;
   width: 100%;
   height: 50px;
   gap: calc(var(--gap) * 2);
   display: flex;
   justify-content: start;
   padding-left: calc(var(--margin) * 2);
   border-left: solid calc(var(--gap) * 2) #fff7;
   background-image: linear-gradient(
      to right,
      #bffffc 0%,
      #00fffb 50%,
      #d2fffd 100%
   );
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
}
#menuOptions .option > p,
#menuOptions .option > i {
   position: relative;
   height: 100%;
   display: grid;
   place-items: center;
   font-size: 0.9rem;
   font-family: Roboto;
   color: #353535;
   text-shadow: 0 0 2px #fff;
   font-weight: 900;
   transition: all 300ms linear;
}
#menuOptions .option > i {
   font-size: 1.3rem;
}
#copyright {
   position: absolute;
   bottom: 10px;
   right: 10px;
   font-family: Roboto;
   font-weight: 900;
   font-size: 0.7rem;
   color: #0006;
}

main {
   position: relative;
   width: 100%;
   padding: var(--margin);
   display: flex;
   flex-direction: column;
   gap: var(--margin);
}

/* ---- section ----- */
main .sec {
   position: relative;
   width: 100%;
   border-radius: 0.5rem;
   background-image: linear-gradient(
      109.6deg,
      rgba(156, 252, 248, 1) 11.2%,
      rgba(110, 123, 251, 1) 91.1%
   );
}
.sec .top {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: start;
}
.top .basic {
   position: relative;
   width: 100%;
   height: 2.5rem;
   display: grid;
   padding: var(--gap);
   grid-template-columns: var(--cs) auto var(--cs) var(--cs);
   gap: var(--gap);
   place-items: center;
   border-radius: 0.5rem;
   background: transparent;
   box-shadow: 0 0 2px #000;
   z-index: 0;
}

.top .features {
   position: absolute;
   width: min-content;
   height: calc(100% - 0.4rem);
   margin: 0.2rem;
   gap: calc(var(--gap) / 2);
   padding: calc(var(--gap) / 2);
   display: none;
   grid-template-columns: repeat(4, 1fr);
   background: #0009;
   backdrop-filter: blur(3px);
   border-radius: 4px;
   margin-right: calc(var(--cs) / 2);
   box-shadow: 0 0 1px #000;
   place-items: center;
   z-index: 2;
}
.sec.current .features {
   display: grid;
}
.features .feature {
   --color: #04bc8c;
   position: relative;
   width: calc(var(--cs) + var(--gap) * 2);
   height: 100%;
   padding: calc(var(--gap)) calc(var(--gap) * 2);
   border-radius: 5px;
   background: #fff3;
   display: grid;
   place-items: center;
   outline: solid 1px transparent;
   transition: linear 200ms background, linear 200ms outline;
}
.features .feature:nth-child(2) {
   --color: #00ff00;
}
.features .feature:nth-child(3) {
   --color: #ff6f00;
}
.features .feature:nth-child(4) {
   --color: #ff0000;
}
.features .feature i {
   color: var(--color);
   pointer-events: none;
   font-size: 1rem;
   text-shadow: 0 0 1px #000000;
   transition: linear 200ms color;
}
.features .feature.hover {
   background: var(--color);
   outline: solid 1px #000;
}
.features .feature.hover i {
   color: #fff;
}
.top .menu-options {
   position: absolute;
   width: min-content;
   height: calc(100% - 0.4rem);
   margin: 0.2rem;
   gap: calc(var(--gap) / 2);
   padding: calc(var(--gap) / 2);
   inset: 0;
   display: none;
   background: #0009;
   backdrop-filter: blur(3px);
   border-radius: 5px;
   box-shadow: 0 0 1px #000;
   z-index: 4;
}
.top .menu-options.active {
   display: flex;
}
.top .menu-options .option {
   --color: #00fff2;
   position: relative;
   width: calc(var(--cs) + var(--gap) * 2);
   height: 100%;
   display: grid;
   padding: calc(var(--gap)) calc(var(--gap) * 2);
   place-items: center;
   border-radius: 3px;
   background: #fff3;
   outline: solid 1px transparent;
   transition: linear 200ms background, linear 200ms outline;
}
.top .menu-options .option:nth-child(3) {
   --color: #ff6600;
}
.top .menu-options .option:nth-child(4) {
   --color: #ffffff;
}
.top .menu-options .option:nth-child(5) {
   --color: #ff0000;
}
.top .menu-options .option i {
   color: var(--color);
   pointer-events: none;
   font-size: 1.2rem;
   text-shadow: 0 0 1px #000000;
   transition: linear 200ms color;
}
.top .menu-options .option i.sbi-pencil1 {
   font-size: 1rem;
}
.top .menu-options .option.hover {
   background: var(--color);
   outline: solid 1px #000;
}
.top .menu-options .option.hover i {
   color: #fff;
}
.top .menu-options .option:nth-child(4).hover i {
   color: #0000;
}

.s-btn {
   position: relative;
   width: calc(var(--cs) - 0.2rem);
   height: calc(var(--cs) - 0.2rem);
   display: grid;
   place-items: center;
   border-radius: 8px;
   font-size: 1rem;
   color: #fff;
   background: #0003;
   box-shadow: 1px 1px 3px #0007;
   transition: linear 300ms background, linear 300ms color,
      linear 300ms text-shadow;
}
.s-btn > i {
   text-shadow: 0 0 1px #0007;
}
.basic > .name {
   width: 100%;
   font-weight: 900;
}
.basic .icon.big {
   font-size: 1.5rem;
   padding: 0;
}
.sec:not(.active) .basic .toggle-btn i:first-child,
.sec.active .basic .toggle-btn i:last-child {
   display: none;
}
.sec.active .basic .toggle-btn i:first-child,
.sec:not(.active) .basic .toggle-btn i:last-child {
   display: block;
}
.sec .inner-sec {
   position: relative;
   width: 100%;
   height: auto;
   display: none;
   flex-direction: column;
}

.sec:not(.focus) * {
   pointer-events: all;
}
.sec.focus:not(.current) * {
   pointer-events: none;
}
.sec.focus i {
   pointer-events: none;
}
.sec.focus:not(.current) .basic::before {
   position: absolute;
   content: "";
   width: calc(100% - 0.32rem);
   height: calc(100% - 0.32rem);
   border: solid 0.16rem #0f0;
   border-radius: 0.5rem;
   box-shadow: inset 0 0 0.2rem #000;
}
.sec.preview:not(.current) .basic::before {
   background: #99ff99;
}
.sec:not(.focus) .basic *:not(.name) {
   opacity: 1;
}
.sec.focus:not(.current) .basic *:not(.name) {
   opacity: 0;
}
.sec:not(.focus) .basic *.name {
   opacity: 1;
}
.sec.focus:not(.current) .basic *.name {
   opacity: 0.5;
}

.sec.active .inner-sec {
   display: flex;
}
.sec .tags {
   position: relative;
   width: 100%;
   display: grid;
   padding: 0 calc(var(--margin) / 2);
   grid-template-columns: 22fr 12fr 3fr 10fr 6fr 12fr;
   background: transparent;
}
.tags * {
   pointer-events: none;
}
.tags div {
   font-size: 0.7rem;
   padding: 3px 2px;
   padding-right: 0;
   font-weight: 500;
}
.tags > div {
   color: #ffffff;
   font-family: Google;
   text-shadow: 0 0 2px #000;
}
.tags div.center {
   text-align: center;
}
.sec .user-list {
   position: relative;
   width: 100%;
   height: 100%;
   background: #0008;
   padding: 0 calc(var(--margin) / 2);
   padding-bottom: calc(var(--margin) / 2);
   gap: var(--gap);
   padding: var(--gap);
   border-radius: 5px;
   border-top: solid 2px #505050;
   display: flex;
   flex-direction: column;
}
.sec .user-outer {
   position: relative;
   width: 100%;
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   outline: solid 1px #777;
   background: transparent;
   box-shadow: none;
}
.sec .user-outer.active {
   box-shadow: inset 0 0 0.2rem #000;
}
.sec .user-outer:not(.active).preview {
   background: #00ff0055;
}
.sec .user-outer .user {
   --color0: #ddd;
   --color: #ddd;
   position: absolute;
   width: 100%;
   height: 100%;
   display: grid;
   align-items: center;
   padding-right: 0;
   background: var(--color);
   border-radius: 4px;
   padding: 2px;
   pointer-events: none;
   outline: none;
   grid-template-columns: 22fr 12fr 3fr 10fr 6fr 12fr;
   z-index: 2;
   transform: scale(1) translateY(0px);
   opacity: 1;
   transition: linear 200ms background, linear 300ms transform,
      linear 300ms opacity;
}
.sec .user-outer .user::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 50%;
   background: #0002;
   bottom: 0;
   z-index: -1;
}
.sec .user-outer.active .user {
   --color0: #fff;
   --color: #fff;
   transform: scale(0.9);
   opacity: 0.8;
   z-index: 3;
   outline: solid 0.2rem #00000077;
}
.sec .user-outer .user.inFeature {
   opacity: 0.2;
   transform: scale(0.4);
}
.sec .user-outer.active .user * {
   pointer-events: none;
}
.sec .user-outer:nth-child(even) .user {
   --color0: #eee;
   --color: #eee;
}
.sec .user > p {
   font-family: Oswald;
   font-weight: 600;
   font-size: 0.8rem;
}
.sec .user > p.name {
   font-family: Google;
}
.sec .user > p.number {
   color: #0033ff;
   font-weight: 900;
   font-size: 0.7rem;
   text-shadow: 0 0 1px #0004;
}
.sec .user p.small-right {
   padding-left: 4px;
}
.sec .user .center {
   text-align: center;
}
.sec .user .small {
   font-size: 0.7rem;
}

.sec .user-outer.up .user {
   --y: calc(2rem + var(--gap));
   transform: translateY(calc(var(--y) * -1));
}
.sec .user-outer.down .user {
   --y: calc(2rem + var(--gap));
   transform: translateY(var(--y));
}

/* ------- add section window -------- */
.floting-window-outer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: none;
   place-items: center;
   background: #0009;
   backdrop-filter: blur(3px);
   z-index: 10;
}
.floting-window-outer.active {
   display: grid;
}
.floting-window {
   position: relative;
   width: 18rem;
   padding: calc(var(--margin) * 2);
   display: flex;
   flex-direction: column;
   gap: 1rem;
   background: #fff;
   border-radius: 12px;
   text-align: center;
   border: solid 2px #000;
}

.floting-window p {
   font-size: large;
   font-weight: 900;
}
.floting-window .close {
   position: absolute;
   top: calc(var(--margin) * 0.6);
   right: calc(var(--margin) * 0.6);
   text-decoration: none;
   outline: none;
   border: none;
   width: calc(var(--margin) * 1.4);
   height: calc(var(--margin) * 1.4);
   border-radius: calc(var(--margin) * 0.4);
   border: solid 1px transparent;
   color: #fff;
   transition: 0.2s linear;
   background: #f00;
}
.floting-window [class*="input-"] {
   position: relative;
   width: 100%;
   height: 1.8rem;
   display: grid;
   grid-template-columns: 1fr 7fr;
   place-items: center;
   background: #fff;
}
.floting-window [class*="input-"] input,
.floting-window [class*="input-"] select {
   position: relative;
   width: 100%;
   height: 100%;
   background: transparent;
   font-size: 1rem;
   padding: 0 0.4rem;
   border: none;
   outline: none;
   border-top-right-radius: calc(var(--margin) / 4);
   border-bottom-right-radius: calc(var(--margin) / 4);
   box-shadow: inset 0px 0px 0.2rem #0005;
}
.floting-window [class*="input-"] > i {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
   color: #fff;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   background-image: linear-gradient(
      to top right,
      #ff512f 0%,
      #f09819 51%,
      #ff512f 100%
   );
}
.floting-window .input-password .pass-show-hide-btn {
   position: absolute;
   width: 2rem;
   height: 100%;
   display: grid;
   right: 0;
   place-items: center;
   background: #00ffe577;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   box-shadow: 1px 1px 3px #0007;
   transition: linear 300ms background;
}
.floting-window .input-password .pass-show-hide-btn i {
   position: absolute;
   color: #000;
   transition: linear 300ms color, linear 300ms opacity;
   opacity: 0;
}
.floting-window .input-password .pass-show-hide-btn:not(.active) i:first-child,
.floting-window .input-password .pass-show-hide-btn.active i:last-child {
   opacity: 0;
}
.floting-window .input-password .pass-show-hide-btn.active i:first-child,
.floting-window .input-password .pass-show-hide-btn:not(.active) i:last-child {
   opacity: 1;
}

.floting-window .buttons {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: calc(var(--margin) / 2);
}
.floting-window.one .buttons {
   grid-template-columns: 1fr;
}
.floting-window .buttons button {
   position: relative;
   border: none;
   outline: none;
   text-decoration: none;
   padding: calc(var(--margin) / 2);
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.2rem;
   appearance: none;
   background-image: linear-gradient(
      to right,
      #1a2980 0%,
      #26d0ce 51%,
      #1a2980 100%
   );
   color: #fff;
   text-transform: uppercase;
   font-size: 0.7rem;
   transition: 0.3s linear background;
   background-size: 200% auto;
}


/*  -------- lodaing window ---------- */
#lodingWindow {
   position: fixed;
   inset: 0;
   width: 100%;
   height: 100%;
   background: #fff8;
   display: none;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(5px);
   z-index: 5;
}
#lodingWindow.active {
   display: flex;
}
#lodingWindow .center {
   position: absolute;
   height: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.wave {
   width: 8px;
   height: 150px;
   background: linear-gradient(45deg, #12100E, #2B4162);
   margin: 10px;
   border-radius: 20px;
   transform: scale(0);
   animation-delay: calc(var(--delay) * 1s);
}
#lodingWindow.active:not(.complete) .wave {
   animation: wave 1s linear infinite;
   animation-delay: calc(var(--delay) * 1s);
}
@keyframes wave {
   0% {
      transform: scale(0);
   }
   50% {
      transform: scale(1);
   }
   100% {
      transform: scale(0);
   }
}
#lodingWindow #dbInfo {
   position: absolute;
   width: 100%;
   padding: 2rem;
   height: auto;
   display: none;
   flex-direction: column;
   gap: calc(var(--margin) * 2);
   align-items: center;
}
#lodingWindow.complete #dbInfo {
   display: flex;
}
#lodingWindow #dbInfo #dbMessage {
   color: #000;
   text-align: center;
   font-weight: 400;
   padding: 1rem 0;
   border-radius: 8px;
   text-shadow: 0 0 3px #000;
   font-size: 2rem;
}
#lodingWindow #dbInfo #dbOkBtn {
   position: relative;
   width: 6rem;
   height: 3rem;
   border: none;
   outline: none;
   text-decoration: none;
   padding: calc(var(--margin) / 2);
   border-radius: 5px;
   font-weight: 900;
   text-shadow: 0 0 1px #000;
   display: flex;
   justify-content: center;
   align-items: center;
   appearance: none;
   background-image: linear-gradient(
      to right,
      #1a2980 0%,
      #26d0ce 51%,
      #1a2980 100%
   );
   color: #fff;
   text-transform: uppercase;
   font-size: 1.2rem;
   transition: 250ms linear background;
   background-size: 200% auto;
}



@media screen and (min-width: 490px) {
   .cursor {
      cursor: pointer;
   }
   .s-btn:hover {
      background: #fff7;
      color: #000000;
      text-shadow: 0 0 1px #fff7;
   }

   #menuOptions .option:hover {
      background-position: right center;
   }
   #menuOptions .option:hover {
      background-position: right center;
   }
   #menuOptions .option:hover > p,
   #menuOptions .option:hover > i {
      color: #fff;
      text-shadow: 0 0 2px #000;
   }
   .floting-window .buttons button {
      cursor: pointer;
   }
   .floting-window .buttons button:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
   }
   .floting-window .close {
      cursor: pointer;
   }
   .floting-window .close:hover {
      color: #f00;
      background: #fff;
      border: solid 1px #000;
   }
   #lodingWindow #dbInfo #dbOkBtn:hover {
      background-position: right center;
   }
}
@media screen and (max-width: 490px) {
   .s-btn:active {
      background: #fff7;
      color: #000000;
      text-shadow: 0 0 1px #fff7;
   }

   .features .feature.hover {
      -webkit-box-reflect: below 1rem;
      transform: rotate(180deg);
   }
   .top .menu-options .option.hover {
      -webkit-box-reflect: below 1rem;
      transform: rotate(180deg);
   }
   #menuOptions .option:active {
      background-position: right center;
   }
   #menuOptions .option:active > p,
   #menuOptions .option:active > i {
      color: #fff;
      text-shadow: 0 0 2px #000;
   }
   .floting-window .buttons button:active {
      background-position: right center;
      color: #fff;
      text-decoration: none;
   }
   .floting-window .close:active {
      color: #f00;
      background: #fff;
      border: solid 1px #000;
   }
   #lodingWindow #dbInfo #dbOkBtn:active {
      background-position: right center;
   }
}
